<form action="{{ path("fos_user_security_check") }}" method="post" role="form">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    
    <div class="row">
    	<div class="col-xs-12">
		 	<div class="form-group">
		    	<label for="username"><small>{{ 'security.login.username'|trans }}</small></label>
		    	<input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans }}" />
			</div>
			<div class="form-group">
		    	<label for="password"><small>{{ 'security.login.password'|trans }}</small></label>
		    	<input type="password"  class="form-control" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans }}" />
		  	</div>
			<div class="checkbox">
    			<label><input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans }}</label>
  			</div>
		  	<button type="submit" id="_submit" name="_submit" class="btn btn-default">{{ 'security.login.submit'|trans }}</button>
	  	</div>
  	</div>
</form>