{# On étend notre layout #}
{% extends "::layout.html.twig" %}

{# Dans notre layout, il faut définir le block body #}
{% block body %}

	{# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
	<div class="row">
		<div class="col-xs-11">
			<h3>{% block lololuser_title %}{{ 'menu.user'|trans }}{% endblock %}</h3>
		</div>
		<div class="col-xs-1">
			{% block lololuser_help %}{% endblock %}
		</div>
	</div>

	<hr>
	
	{# On affiche les messages flash que définissent les contrôleurs du bundle #}
	{% for key, messages in app.session.flashbag.all() %}
		{% for message in messages %}
    	<div class="alert alert-{{ key }}">
      		{{ message|trans({}, 'FOSUserBundle') }}
    	</div>
		{% endfor %}
	{% endfor %}

  {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
  {% block fos_user_content %}
  {% endblock fos_user_content %}

{% endblock %}