#loading-indicator {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px; /* -1 * image width / 2 */
    margin-top: -25px;  /* -1 * image height / 2 */
    display: block; 
}

label {
	font-weight: normal;
}

.no-gutter [class*="col-"] {
  padding-right:0px;
  padding-left:0px;
}

.compacted-gallery {
	overflow: hidden;
}

.stat-title{
	font-weight: bold;
	color: #55AADD;
}

.champion-stats {
	margin: 10px;
}