body {
	padding-top: 70px;
}

#loading-indicator {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px; /* -1 * image width / 2 */
    margin-top: -25px;  /* -1 * image height / 2 */
    display: block; 
}

#sign-in-loading-indicator {
	margin-bottom: 10px;	
}

td > label {
	font-weight: normal;
}

.strong {
	font-weight: bold;
}

.compacted-gallery a {
	overflow: hidden;
	white-space: nowrap;
}

.stat-title{
	font-weight: bold;
	color: #428bca;
}

.stat-name {
	color: #428bca;
}

.champion-stats {
	margin: 10px;
}

img.desaturate {
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.draggable, .droppable {
	overflow: hidden;
}

.overflow-hidden {
	overflow: hidden;
}

.team-selected {
	padding-right: 30px;
	padding-left: 30px;	
}

.champion-selected {
	border-color: #428bca;
}

.popover.in {
    z-index: 9999;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.center-y {
  margin-top: -1px;
  vertical-align: middle;
}

.thumbnail-padding-1 {
	padding: 2px;
}

.collapse.width {
    height: auto;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}

/** Horizontal gutters */
.gutter-0 {
	margin-left: 0px;
	margin-right: 0px;
}
.gutter-0 [class*="col-"] {
  padding-right:0px;
  padding-left:0px;
}

.gutter-1 {
	margin-left: -1px;
	margin-right: -1px;
}
.gutter-1 [class*="col-"] {
  padding-right:1px;
  padding-left:1px;
}

.gutter-10 {
	margin-left: -10px;
	margin-right: -10px;
}
.gutter-10 [class*="col-"] {
  padding-right:10px;
  padding-left:10px;
}

/** Horizontal padding */
.hpadding-10 {
	padding-right: 10px;
	padding-left: 10px;
}

/** Vertical gutters */
.vgutter-1 {
	margin-top: -1px;
	margin-bottom: -1px;
}
.vgutter-1 [class*="col-"] {
  padding-top:1px;
  padding-bottom:1px;
}
.vgutter-2 {
	margin-top: 2px;
	margin-bottom: 2px;
}
.vgutter-2 {
	margin-top: 2px;
	margin-bottom: 2px;
}
.vgutter-10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.vpadding-0 {
	padding-top: 0px;
	padding-bottom: 0px;
}

.vpadding-4 {
	padding-top: 4px;
	padding-bottom: 4px;
}

/* Debug */
.red {
	background-color: red;	
}
.green {
	background-color: green;
}
.blue {
	background-color: blue;	
}
.yellow {
	background-color: yellow;	
}