body {
	padding-top: 70px;
}

#loading-indicator {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px; /* -1 * image width / 2 */
    margin-top: -25px;  /* -1 * image height / 2 */
    display: block; 
}

label {
	font-weight: normal;
}

.gutter-0 {
	margin-left: 0px;
	margin-right: 0px;
}
.gutter-0 [class*="col-"] {
  padding-right:0px;
  padding-left:0px;
}

.gutter-1 {
	margin-left: -1px;
	margin-right: -1px;
}
.gutter-1 [class*="col-"] {
  padding-right:1px;
  padding-left:1px;
}

.gutter-10 {
	margin-left: -10px;
	margin-right: -10px;
}
.gutter-10 [class*="col-"] {
  padding-right:10px;
  padding-left:10px;
}

.compacted-gallery a {
	overflow: hidden;
}

.stat-title{
	font-weight: bold;
	color: #428bca;
}

.stat-name {
	color: #428bca;
}

.champion-stats {
	margin: 10px;
}

img.desaturate {
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.draggable, .droppable {
	overflow: hidden;
}

.overflow-hidden {
	overflow: hidden;
}

.team-selected {
	padding-right: 30px;
	padding-left: 30px;	
}

.champion-selected {
	border-color: #428bca;
}
.red {
	background-color: red;	
}
.green {
	background-color: green;	
}
.blue {
	background-color: blue;	
}
.yellow {
	background-color: yellow;	
}
